body {
  font-family: sans-serif;
  text-align: center;
  background-color: #fceecf;
  margin: 0;
  padding: 0;
}

h1 {
  padding-top: 20px;
}

#gallery button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #f7a900;
  border: none;
  color: white;
  border-radius: 5px;
}

#gallery button:hover {
  background-color: #e68900;
}

#main-image {
  margin-top: 20px;
  max-width: 80%;
  height: auto;
  border: 2px solid #555;
  border-radius: 8px;
}
